   <div class="jumbotron">
     <h1 class="title">Hi～Baby</h1>
     <p class="slogan">Hi~ Baby是一个Babysitter工作的垂直求职网站。
     <br>
     妈妈们希望藉由这个网站，找到如沐春风的育儿师。
     <br>
      当然，春风十里不如你。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">走进春风</a></p>
   </div>

   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006tNbRwjw1fc8jgu5oi5j307w04x743.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>come:小盒915</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tNbRwjw1fc8iwfiyibj307n053a9w.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3>send:xiaohe@hotmail.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006tNbRwjw1fc8j2ef31sj307w04xt8j.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>call:2017123456</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
